
$sans-font-family: Verdana, Tahoma, "Lucida Grande", Arial, sans-serif;
$serif-font-family: Georgia, "Times New Roman", Times, serif;

$font-size-base: 14px;
$font-family-base: $sans-font-family;

$link-color: #06a;
$link-hover-color: #a00;

$navbar-height: 31px;

$footer-background: #fff;
$footer-color: #888;

@import "twitter/bootstrap";
@import "font-awesome";
@import "mixins";
@import "flags16";
@import "wmd";

body {
  padding-top: 40px;
  text-align: left;
}

.hyphenate {
  text-align: justify;
}

.img {
  border: 1px solid #666;
  font-size: 8pt;
  font-weight: bold;
  background: #f6f6f6;
  margin: 10px auto 5px 5px;
  line-height: 16px;
  width: 300px;
  img { width: 300px }
  text-align: center !important;
}

table {
  @extend .table;
}

.container {
  max-width: 100%;
}

@media (min-width: 768px) {
  .content-container {
    padding-left: 30px;
  }
}

// Make all images responsive by default
img {
  @extend .img-responsive;
}

.navbar-toggle {
  border: none;
}

.navbar-notifications {
  padding-right: 8px;
  margin-top: 6px;
}

.navbar-text {
  span.nav-link {
    padding-right: 4px;
  }
}

.actions-links a {
  padding-right: 5px;
  font-size: 85%;
}

.navbar {
  li { list-style-type: none }
}

div.field_with_errors {
  @extend .has-error;
}

.tab-content {
  margin-top: 20px;
}

.type-zone {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-top: dashed 1px #eee;
  background: #eeeeee;
  padding: 5px;

  @media (max-width: 767px) {
    left: 0px;
  }

  form {
    .form-control { margin-bottom: 5px; }
  }
}

#messages_container {
  margin-bottom: 100px;
  text-align: left;

  img {
    max-width: 298px;
  }

  h1, h2, h3 {
    font-size: 130%;
  }

  .message {
    img {
      display: inline;
      padding-right: 5px;
    }
    border-top-width: 0.077em;
    border-top-style: solid;
    border-top-color: #e4e4e4;
    padding-top: 4px;
    margin-top: 12px;
    .info {
      color: #999;
      padding-bottom: 4px;
      a, a:visited, a:active {
        color: #999;
        &:hover {
          color: #222;
        }
      }
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.about-block {
  padding: 5px;
  border: 1px dashed #e7e7e7;
}

#header_placeholder {
  clear: both;
  @include clearfix();
  height: 42px;
}

#user_profile {
  text-align: left;

  h3 {
    margin-top: 0;
    padding-top: 0;
    display: inline;
    font-size: 16px;
    img { display: inline; margin-left: 5px; }
  }

  .avatar {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .s1 { color: #777777; }
  .s2 { color: #80a1b7; }
  .s3 { color: #d32ce6; }
  .s4 { color: #e4ae33; }
  .s5 { color: #ade55c; }
}

#user_activity {
  margin-top: 15px;
}

textarea.wmd-input {
  min-height: 300px;
}

#notifications {
  border-top: 1px solid #e6e6e6;
  margin-top: 25px;

  .unread .link {
    font-weight: bold;
  }
}

.notification {
  padding: 7px 6px 7px 6px;
  border-bottom: 1px solid #e6e6e6;
  &:hover {
    background: #f8f8f8;
  }
}

.single_message {
  border: 2px dashed #ddd;
  padding: 7px;
  margin: 10px;
  margin-top: 40px;
}

.message_mention {
  padding-left: 10px;
  font-size: 70%;
}

a.user_link:hover {
  text-decoration: none;
  border-bottom: 1px dashed #aaa;
}

@media (min-width: 768px) {
  #content-container {
    min-height: 400px;
  }
}

@import "sidebar";
@import "footer";
@import "fixes";
