
$sansFontFamily: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$serifFontFamily: Georgia, "Times New Roman", Times, serif;

$font-size-base: 14px;
$font-family-base: $sansFontFamily;

$link-color: #06a;
$link-hover-color: #a00;

$navbar-height: 31px;

@import "twitter/bootstrap";
@import "font-awesome";
@import "mixins";

body {
  padding-top: 40px;
}

// Make all images responsive by default
img {
  @extend .img-responsive;
}

.navbar-toggle {
  border: none;
}

.navbar-notifications {
  padding-right: 8px;
  margin-top: 4px;
}

@import "sidebar";
