
$sans-font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$serif-font-family: Georgia, "Times New Roman", Times, serif;

$font-size-base: 14px;
$font-family-base: $sans-font-family;

$link-color: #06a;
$link-hover-color: #a00;

$navbar-height: 31px;

$footer-background: #fff;
$footer-color: #888;

@import "twitter/bootstrap";
@import "font-awesome";
@import "mixins";

body {
  padding-top: 40px;
  text-align: justify;
}

table {
  @extend .table;
}

.container {
  max-width: 940px;
}

// Make all images responsive by default
img {
  @extend .img-responsive;
}

.navbar-toggle {
  border: none;
}

.navbar-notifications {
  padding-right: 8px;
  margin-top: 6px;
}

.navbar-text {
  span.nav-link {
    padding-right: 4px;
  }
}

.actions-links a {
  padding-right: 5px;
  font-size: 85%;
}

.navbar {
  li { list-style-type: none }
}

div.field_with_errors {
  @extend .has-error;
}

.tab-content {
  margin-top: 20px;
}

.messages {
  margin-bottom: 100px;
}

.type-zone {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  border-top: dashed 1px #eee;
  background: #f0f0f0;
  width: 100%;
  background: #eeeeee;
  padding: 5px;

  form {
    .form-control { margin-bottom: 5px; }
  }
}

#messages_container {
  padding-bottom: 20px;
}

@import "sidebar";
@import "footer";
@import "fixes";
