@media (min-width: 755px) and (max-width: 900px) {
  .content-container {
    padding-left: 37px;
  }
}

@media (min-width: 768px) {
  form {
    margin-left: 15px;
  }
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 100%;
}
