.toggle-button {
  padding: 0 !important;
  background: none;
  border: none;
  color: #666;
  border-bottom: 1px dashed #aaa;

  &:hover {
    border-color: #555;
    color: #111;
  }
}

.right-align {
  text-align: right;
}

.right-float {
  float: right;
}

.left-float {
  float: left;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.big-text {
  font-size: 22px;
}

.no-border {
  border: none
}

.link-button {
  margin-left: 7px;
}

